.footer {
  font-size: 0.875em;
  padding: 1.2rem 4rem;

  background-color: rgba(50, 50, 50, 0.9);

  p {
    font-size: 1.2rem;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.9);
    text-align: center;
  }
}