.main {
  position: static;
  margin-left: 40%;
  width: 60%;
}

.item__extra {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}

.item__subtitle {
  margin-bottom: .6rem;
  font-size: 1.4rem;
}

.item__title {
  margin: 0;
  font-size: 1.7rem;
}

.section {
  box-sizing: border-box;
  height: auto;
  padding: 4rem;

  font-weight: lighter;

  hr {
    height: 5px;
    border: 0 none;
    background-color: rgba(255,255,255, .6);
  }
}

.work-showcase {
  background-color: rgba(94, 179, 239, 0.8);

  img {
    margin: 1rem auto;
    display: block;
    width: 100%;
  }

  .item__title, .item__subtitle, .item__extra {
    color: rgba(255, 255, 255, 1.0);
  }

  .item__subtitle {
    margin-top: 4rem;
    font-weight: lighter;
  }

  &:nth-child(2) {
    background-color: rgba(234, 72, 62, 0.8);
  }

  &:nth-child(3) {
    background-color: rgba(155, 187, 134, .8);
  }

}

.experience {
  background-color: rgba(234, 200, 39, 1.0);
  .item__subtitle {
    opacity: .8;
    font-size: 1.4rem;
  }
}

.education {
  padding-bottom: 6rem;
  background-color: rgba(158, 190, 205, 1.0);

  li {
    float: left;
    min-width: 28rem;
    font-size: 1.4rem;
  }

}

.section-skinned {
  color: #fff;
}

.section.section-skinned:nth-child(3) {
  background-color: rgba(245, 124, 0, 0.8);
}

.section.section-skinned:nth-child(4) {
  background-color: rgba(76,175,80, 0.8);
}

.item {
  margin-bottom: 4rem;
}