.main {
  margin-left: 0;
}

.item__extra {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}

.item__subtitle {
  margin-bottom: .6rem;
  font-size: 1.4rem;
}

.item__title {
  margin: 0;
  font-size: 1.7rem;
}

.section {
  box-sizing: border-box;
  height: auto;
  padding: 6rem;

  font-weight: lighter;

  hr {
    height: 12px;
    border: 0 none;
    background-color: rgba(255,255,255, .6);
  }
}

.work-showcase {
  background-color: rgba(94, 179, 239, 0.8);

  img {
    margin: 1rem auto;
    display: block;
    width: 100%;
  }

  .item__img-link {
    display: block;
    img {
      transition: all 300ms ease;
    }

    &:hover {
      background: url(/assets/img/social/behance.svg) center center no-repeat ;

      img {
        opacity: 0.15;
      }
    }
  }

  .item__title, .item__subtitle, .item__extra {
    color: rgba(255, 255, 255, 1.0);
  }

  .item__subtitle {
    margin-top: 4rem;
    font-weight: lighter;
  }

  &:nth-child(2) {
    background-color: rgba(234, 72, 62, 0.8);
  }

  &:nth-child(3) {
    background-color: rgba(155, 187, 134, .8);
  }

}

.experience {
  background-color: rgba(234, 200, 39, 1.0);
  .item__subtitle {
    // margin-bottom: 0;
    opacity: .8;
    font-size: 1.4rem;
  }
  .tasks {
    margin: 0;
  }
  .item__desc {
    margin: 2.6rem 0 0;
    font-style: italic;
  }
  .tasks, .item__desc {
    font-size: 1.5rem;
  }
}

.education {
  padding-bottom: 6rem;
  background-color: rgba(158, 190, 205, 1.0);

  li {
    float: left;
    min-width: 28rem;
    font-size: 1.4rem;
  }

}

.education, .experience {
  padding: 4rem 6rem;
}

.item {
  margin-bottom: 8rem;
  &:last-child {
    margin-bottom: 2rem;

  }
}