.main {
  position: static;
  margin-left: 40%;
  width: 60%;
}

.section {
  box-sizing: border-box;
  height: auto;
  padding: 4rem;

  font-weight: lighter;

  img {
    margin: 4rem auto;
    display: block;
    width: 100%;
  }

  p, h5, h6 {
    font-weight: lighter;
  }

  p {
    padding: 0;
    margin: 0;
    font-size: 1.2rem;
  }

  h6 {
    margin-bottom: .6rem;
    color: rgba(255, 255, 255, 1.0);
    font-size: 1.4rem;
  }

  .title {
    margin: 0;
    font-size: 1.7rem;
  }

  hr {
    height: 5px;
    border: 0 none;
    background-color: rgba(255,255,255, .6);
  }

  li {
    font-size: 1.4rem;
  }
}

.work-showcase {
  .title {
    color: rgba(255, 255, 255, 1.0);
  }
}

.experience {
  background-color: rgba(234, 200, 39, 1.0);
  p {
    opacity: .8;
    font-size: 1.4rem;
  }
}

.education {
  background-color: rgba(158, 190, 205, 1.0);
}

.section-skinned {
  color: #fff;
}


.section.section-skinned:nth-child(1) {
  background-color: rgba(94, 179, 239, 0.8);

}
.section.section-skinned:nth-child(2) {
  background-color: rgba(234, 72, 62, 0.8);
}

.section.section-skinned:nth-child(3) {
  background-color: rgba(245, 124, 0, 0.8);
}

.section.section-skinned:nth-child(4) {
  background-color: rgba(76,175,80, 0.8);
}

.item {
  margin-bottom: 4rem;
}