.sidebar {
    box-sizing: border-box;

    padding: 3.5em 2em;
    font-size: 1.125em;
    text-align: left;
}

.container {
    margin: 0 auto;
    max-width: 760px;
    padding: 0 10px;
}

.headline {
    text-transform: uppercase;
    line-height: 4.6rem;
    margin-bottom: 7rem;
    .highlight {
        color: rgba(255, 255, 255, 1.0);
        background-color: rgba(74, 74, 74, 1.0);
    }
}

