.sidebar {
    box-sizing: border-box;
    position: fixed;
    top:0;
    width: 40%;
    height: 100%;

    padding: 5em 2em;
    font-size: 1.125em;
    text-align: left;
}

.container {
    margin: 0 auto;
    max-width: 760px;
    padding: 0 10px;
}

.headline {
    text-transform: uppercase;
    line-height: 4rem;
}
