.sidebar {
    box-sizing: border-box;

    padding: 3.5em 2em;
    font-size: 1.125em;
    text-align: left;

    .anim__from-left {
        -webkit-animation: from-the-left 1100ms linear both;
        animation: from-the-left 1100ms linear both;
    }

    .anim__from-bottom   {
        -webkit-animation:  from-the-bottom 2000ms linear both;
        animation:  from-the-bottom 2000ms linear both;
    }
}

.container {
    margin: 0 auto;
    max-width: 760px;
    padding: 0 10px;
}

.headline {

    text-transform: uppercase;
    line-height: 4.7rem;
    margin-bottom: 7rem;
    .highlight {
        color: rgba(255, 255, 255, 1.0);
        background-color: rgba(74, 74, 74, 1.0);
        animation: hue 15s infinite;
    }
}

