{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["*.scss", "*.css"],
      "options": {
        "printWidth": 100,
        "singleQuote": true,
        "trailingComma": "none",
        "cssDeclarationSorterOrder": "smacss",
        "proseWrap": "always"
      }
    }
  ],
  "plugins": ["prettier-plugin-tailwindcss", "prettier-plugin-css-order"]
}
