@media only screen and (max-width: 1024px) {
  section {
    padding: 6rem 2rem;
  }
  header {
    padding: 1rem 1.6rem;
  }
}
@media only screen and (min-width: 1024px) {
  body {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  main {
    flex: 1;
    width: 60%;
    margin-left: 40%;
  }
  header {
    position: fixed;
    top: 0;
    flex: 0 0 auto;
    width: 40%;
    height: 100%;
  }
  footer {
    flex: 0 0 auto;
    width: 60%;
    margin-left: 40%;
  }
}
@media print,
  (-o-min-device-pixel-ratio: 5/4),
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 120dpi) {
}
