.main {
  margin-left: 0;
  p,
  li {
    color: rgba(0, 0, 0, 0.75);
  }
}

.item__extra {
  padding: 0;
  margin: 0;
  font-size: 1.2rem;
}

.item__subtitle {
  margin-bottom: 0.6rem;
  font-size: 1.4rem;
}

.item__title {
  margin: 0;
  font-size: 1.7rem;
}

.item__desc {
  margin: 1.4rem 0 1rem;
  font-size: 1.5rem;
  font-style: italic;
}

.section {
  box-sizing: border-box;
  height: auto;
  padding: 6rem;

  font-weight: lighter;

  .headline {
    font-size: 3.2rem;
  }

  hr {
    height: 12px;
    border: 0 none;
    background-color: rgba(255, 255, 255, 0.6);
  }
}

.work-showcase {
  background-color: rgba(94, 179, 239, 0.8);

  img {
    margin: 1rem auto;
    display: block;
    width: 100%;
  }

  .item__img-link {
    display: block;
    transition: all 300ms ease;
    overflow: hidden;
    img {
      transition: all 300ms ease;
    }

    &:hover {
      background: url(/images/social/behance.svg) center center no-repeat;

      img {
        opacity: 0.15;
      }
    }
  }

  .item__title,
  .item__subtitle,
  .item__extra {
    color: rgba(255, 255, 255, 1);
  }

  .item__subtitle {
    margin-top: 4rem;
    font-weight: lighter;
  }

  &__gamesportal {
    background-color: rgba(234, 72, 62, 0.8);
  }

  &__booth {
    background-color: rgba(155, 187, 134, 0.8);
  }

  &__edetailers {
    background-color: rgba(97, 110, 239, 0.7);
  }

  &__book {
    background-color: rgba(41, 198, 205, 0.8);
  }
}

.experience {
  background-color: rgba(234, 200, 39, 1);
  .item__subtitle {
    opacity: 0.8;
    font-size: 1.4rem;
  }
  .tasks {
    margin: 0;
    font-size: 1.5rem;
  }
}

.education {
  padding-bottom: 6rem;
  background-color: rgba(158, 190, 205, 0.5);

  li {
    float: left;
    min-width: 28rem;
    font-size: 1.4rem;
  }
}

.education,
.experience {
  padding: 4rem 6rem;
}

.item {
  margin-bottom: 8rem;
  &:last-child {
    margin-bottom: 2rem;
  }
}
